* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

body {
    background:linear-gradient(to right,rgb(201, 242, 242),rgb(255, 242, 242))
}

a:hover {
    color: red;
}

/* 版心 */
.w {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    /* background-color: rgb(255, 255, 255); */
}

/* 快速导航栏 */
.shortcut {
    width: 100%;
    height: 36px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0,.1) ;
}


.red_style {
    color: red;
}

.fl li,.fr li{
    float: left;
    line-height: 36px;

}

.fr {
    float: right;
}

.li_l {
    width: 1px;
    height: 10px;
    background-color: rgb(207, 207, 207);
    margin: 0 5px;
    margin-top: 13px;
}

/* 头部 */
header {
    
    position: relative;
    height: 134px;
    margin: 0 auto;

}

header .lf {
    width: 240px;
    height: 70px;
    background: url(../image/logo.png) no-repeat center;
    background-size: contain;

    position: absolute;
    top: 30px;
}

header .tp {
    width: 467px;
    height: 40px;

    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 30px;
}

header .tp input {
    width: 327px;
    height: 100%;
    background-color: rgba(0, 0,0,0);

    position: absolute;
    left: 0;
    top: 0;

    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 90px;
}

header .tp button{
    width: 80px;
    height: 34px;
    background-color: red;

    position: absolute;
    right: 0;
    margin-top: 5px;

    color: aliceblue;
    font-size: 20px;
    line-height: 30px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
}

header .but {
    width: 467px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 80px;
}

header .but li{
    float: left;
    margin-right: 10px;
}
